// COLORS
$color-primary: #ffffff;
$color-primary-light: #e3dcc3;
$color-primary-dark: #c4ba99;

$color-primary-light-2: #beb8a0;
$color-primary-dark-2: #8f8870;

$color-dark-red: rgb(156, 12, 12);
$color-light-red: rgb(233, 114, 114);
$color-dark-gold: rgb(163, 153, 4);

$color-black: rgb(0, 0, 0);

$color-white: white;

$color-grey: rgb(95, 95, 95);
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT
$default-font-size: 1.6rem;

$default-font-family: "Merriweather", serif;
$font-family-2: "Lato", sans-serif;

// GRID
$grid-width: 114rem; // 1140px
$gutter-vertical: 8rem; // 80px
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // 20px
